{% extends 'base.html' %}
{% load static %}
{% block title %}Admin Signup{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'registration/CSS/sign-up_style.css'%}" />
    <link rel="stylesheet" href="{% static 'main/Css/navBar_Style.css' %}">
    <link rel="icon" href="{% static 'img/icon.png' %}" type="image/x-icon">
{% endblock extra_css %}

{% block content %}
    <nav class="navbar">
    <div class="nav-container">
        <a href="" class="logo" id="logo">Online Library</a>
        <div class="nav-links" id="navLinks">
            <a href="{% url "home" %}" id="home">Home</a>
            <a href="{% url "login" %}" id="login">Login</a>
            <a href="{% url 'sign_up' %}" id="sign-up">Sign-up</a>
            <button id="themeToggle" class="theme-toggle">
                <span>🌞</span>
            </button>
        </div>
    </div>
    </nav>
<div class="signup-container">
    <h2>Create Account</h2>
    <form action="#" method="POST">
        {% csrf_token %}
        <label for="username">Full Name</label>
        <input type="text" id="username" name="username" required>

        <label for="email">Email</label>
        <input type="email" id="email" name="email" required>

        <label for="password">Password</label>
        <div class="password-container">
            <input type="password" id="password" name="password" required>
        </div>

        <label for="confirm_password">Confirm Password</label>
        <div class="password-container">
            <input type="password" id="confirm_password" name="confirm_password" required>
        </div>

        <label for="account_type">Account Type</label>
        <select id="account_type" name="account_type">
            <option value="admin">Admin</option>
            <option value="user">User</option>
        </select> 
        
        <button type="submit" id="submit-btn">Sign Up</button>
    </form>
    <p>Already have an account? <a id="haveAccount" href="login">Login</a></p>
</div>
  <script src="registration/JS/sign-up_script.js"></script>
  <script src="main/JS/theme-toggle.js"></script>
  <script src="main/JS/nav-bar.js"></script>
{% endblock content %}
