
body {
    
    background-color: var(--bg-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.userData-container h1{
    margin-bottom: 20px;
    color: var(--text-secondary);
    font-size: 50px;
    margin-top: 150px;
    margin-left: 0px;
    margin-right: 500px;
    
      
}
.user-box {
    background-color: var(--table-bg);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px var(--shadow-color);
    margin-bottom: 20px;
    max-width: 400px;
    border: 2px solid var(--border-color);
    color: var(--text-secondary);
    font-size: 20px;
}

.button-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.btn-primary {
    background-color: var(--btn-primary);
    color: var(--bg-primary);
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    font-weight: 600;
    text-align: center;
    font-size: 20px;
}

.btn-primary:hover {
    background-color: var(--btn-primary-hover);
}

.btn-secondary:hover{
    background-color: #f0ecdaf9;

}
.btn-secondary {
    background-color: var(--bg-primary);
    color: var(--text-primary);
    border: 1px solid var(--border-color);
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    backdrop-filter: blur(2px);
}

.modal-content {
    background: var(--bg-secondary);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px var(--shadow-color);
    width: 90%;
    max-width: 400px;
}
.modal-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    background-color: var(--input-bg); 
    color: var(--text-primary);
    font-size: 20px;
    font-weight: 400;
}
.modal-title {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: var(--text-primary);
}
.modal-buttons{
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 10px;
}
.options{
    background-color: var(--input-bg); 
    color: var(--btn-primary);
    font-weight: 700;
    font-size: 15px;
}
input, select {
    width: 95%;
    padding: 0.7rem;
    margin-top: 0.3rem;
    margin-right: 10px;
    border: 1px solid var(--border-color);
    border-radius: 6px; 
    background-color: var(--input-bg); 
    color: var(--input-text); 
    transition: all 0.3s ease;
    font-size: 17px;
    font-weight: 450;
}
input:focus, select:focus {
    outline: none;
    border-color: var(--btn-primary);
    box-shadow: 0 0 0 2px rgba(210, 145, 80, 0.3);
    transform: scale(1.03);
    
}
.hidden {
    display: none;
}
.field-error {
    color: #e74c3c;        
    font-size: 0.8em;      
    margin-top: 4px;    
}   
  
.error {
border-color: #e74c3c;
}